body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
  line-height: 14px;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

button:focus,
textarea:focus,
input:focus {
  outline:0;
}

.verb-search {
  .input-wrapper {
    position: relative;
    border: 1px solid #ccc;
  }

  .input {
    padding: 1em;
    font-size: 2em;
    line-height: 1em;;
    border: 0;
    display: inline-block;
    width: 100%;
    background: transparent;
    height: 45px;
  }

  .suggestion-wrapper {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .suggestion-text {
    display: inline-block;
    padding: 1em;
    font-size: 2em;
    padding-right: 0;
    min-height: 45px;
    height: 45px;
    line-height: 1em;
    border: 0;
  }

  .common-suggestion {
    opacity: 0;
  }

  .remaining-suggestion {
    position: relative;
    margin-left: -0.9px;
    padding-left: 0;
    opacity: 0.5;
  }

  .suggestion-box-wrapper {
    position: relative;
  }

  .tab-options {
    width: 100%;
    z-index: 1;
    background: #fff;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tab-option {
    padding: 0.7em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: pointer;
  }

  .active-tab-option {
    background-color: #f1f1f1;
  }
}
