*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 1.6em;
  margin: 1.2em 0;
}
h2 {
  font-size: 1.4em;
  margin: 1em 0;
}
h3 {
  font-size: 1.2em;
  margin: 0.8em 0;
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
}
input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button:focus,
textarea:focus,
input:focus {
  outline: 0;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #cccccc;
}
p {
  margin-bottom: 0.8em;
}
