body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333333;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 1.6em;
  margin: 1em 0;
}
h2 {
  font-size: 1.4em;
  margin: 1em 0;
}
h3 {
  font-size: 1.2em;
  margin: 1em 0;
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
}
button:focus,
textarea:focus,
input:focus {
  outline: 0;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #cccccc;
}
.omni-select .input-wrapper {
  position: relative;
  border: 1px solid #cccccc;
  background-color: #fff;
}
.omni-select .input {
  padding: 0.8em;
  font-size: 1.4em;
  border: 0;
  display: inline-block;
  width: 100%;
  background: transparent;
}
.omni-select .input-suggestion-wrapper {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.omni-select .input-suggestion-text {
  display: inline-block;
  padding: 0.8em;
  font-size: 1.4em;
  padding-right: 0;
  border: 0;
}
.omni-select .input-suggestion-text.common {
  opacity: 0;
}
.omni-select .input-suggestion-text.remaining {
  position: relative;
  margin-left: -0.9px;
  padding-left: 0;
  opacity: 0.5;
}
.omni-select .tab-suggestions-wrapper {
  position: relative ;
}
.omni-select .tab-suggestions {
  width: 100%;
  z-index: 1;
  background: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
.omni-select .tab-suggestion {
  padding: 0.7em;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  cursor: pointer;
}
.omni-select .tab-suggestion.active {
  background-color: #f1f1f1;
}
.omni-select .button {
  display: none;
}
.loading-spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  animation: scaleout 1s infinite ease-in-out;
}
@keyframes scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.page-wrapper {
  padding-bottom: 1.2em;
}
.loader-wrapper {
  padding-top: 1.4em;
}
.not-found {
  text-align: center;
  padding-top: 1.4em;
}
.align-center {
  text-align: center;
}
.content-wrapper {
  padding: 0 15px;
  max-width: 900px;
  margin: 0 auto;
}
.input-section {
  background-color: #f1f1f1;
  border-bottom: 1px solid #cccccc;
  padding: 1.6em 0;
}
.title-section {
  background-color: #f9f9f9;
  padding: 0.8em 0 1.6em;
  border-bottom: 1px solid #e8e8e8;
}
.verb-intro {
  font-size: 1.2em;
}
.verb-cont .verb-row {
  margin: 0.6em 0;
}
.verb-cont .verb-cols:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 700px) {
  .verb-cont .verb-col {
    float: left;
    width: 50%;
  }
}
